

:global(html),
:global(body) {
 margin: 0;
  padding: 0;
  background: #171313; 
  font-family: 'Times New Roman', Times, serif;
  color: #E8DCC0;
  margin-top: 40px;
}



.nome {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 5%;
  margin-top: 60px;
  color: #E9CA4F;
}



.perfil {
  width: 100%;
  padding-bottom: 80px;
}

.alinhar {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}


.quadro {
  background: #2c2626;      
  width: 75%;
  border-radius: 35px;
  padding: 40px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tituloCard {
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
  color: #cfb371;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.servico {
  font-size: 80px;
  font-weight: bold;
  margin-top: 10px;
  color: #cfb371;

}

.data {
  font-size: 40px;
  margin-top: 10px;
  color: #cfb371;

}

.hora {
  font-size: 54px;
  font-weight: bold;
  margin-top: 15px;
  color: #cfb371;

}

.naoTem {
  font-size: 30px;
  margin-top: 40px;
}



.alinharBotoes {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 70px;
}

.button {
  background: #c2b9b9;   
  color: black;
  padding: 18px 70px;
  border-radius: 40px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
  border-color: #c2b9b9;
}

.button:hover {
  background: #E9CA4F;
}

.buttonCancelar {
  background: #992921;;
  color: #000000;
  padding: 6px 12px;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-left: auto;   
  display: block;    
}

.buttonCancelar:hover {
  background-color: #b22222; 
  transform: scale(1.03);
}

.buttonCancelar:active {
  transform: scale(0.97);
}



.barra {
  background-color: #e9ca4f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  z-index: 1000;
}