.nome {
    color:white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 150px;
    position: relative;
    bottom: -90px;
    
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%; 
}

.buttonAgendar {
    position :relative;
    bottom: -790px;
    margin-left: 250px;
    display: inline-block; 
    background-color: #b59b35;
    color: black; 
    padding: 15px 40px; 
    text-align: center; 
    border: none; 
    border-radius: 30px;
    cursor: pointer; 
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.buttonAgendar:hover {
  background-color: #ffe81e; 
}

.buttonHistorico {
    position :relative;
    bottom: -790px;
    margin-left: 50px;
    display: inline-block; 
    background-color: #b59b35;
    color: black; 
    padding: 15px 40px; 
    text-align: center; 
    border: none; 
    border-radius: 30px;
    cursor: pointer; 
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.buttonAgendar:hover {
  background-color: #ffe81e; 
}
.buttonHistorico:hover {
  background-color: #ffe81e; 
}

.quadro {
  position: absolute;
  top: 200px;
  left: 250px;

  
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;     
  gap: 10px;                   
  padding: 10px 30px;          

  width: 520px;      
  height: 320px;     
  border: 2px solid rgb(0, 0, 0);      
  background-color: #f2efeb;
  border-radius: 40px;
  padding: 30px;
  
}


.h11 {
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  font-size: 30px;
}

.img {
  width: 60px;  
  height: auto;
  position: relative;
  bottom: 10px;
 
}

.naoTem{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 70px;
    margin-left: -30px;
}

.detalhes {
  color: black;
  align-items: center;
  gap: 20px;
  display: flex;
}


.servico {
  font-weight: bold;
  margin-bottom: 120px; 
  font-size: 40px;
  

}

.datahora {
  display: flex;
  align-items: center;  
  justify-content: flex-start; 
  gap: 8px;             
  font-weight: bold;
  position: fixed;
}

.cancelar {
  background-color: #b59b35;
  border-radius: 50px;
  border: none;
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 25px;
  position: relative;
  left: 80px;
  bottom: -100px;
  cursor: pointer;
  
}

.cancelar:hover {
  background-color: red;
  color: white;
}

.duvida {
  color: rgb(250, 250, 250);
  position: relative;
  bottom: -500px;
  left: 1200px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  
}

.whats {
  display: inline-flex;
  align-items: center;
  background-color: #ffffff;
  color:black;
  padding: 10px 60px;
  border-radius: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  position: relative;
  left: 1300px;
  bottom: -550px;
  gap: 8px;
  cursor: pointer;
}

.whats:hover {
  background-color:#b59b35;
}

.quadroA {

  position: relative;
  left: 1200px;
  width: 420px;      
  height: 150px;     
  border: 2px solid rgb(0, 0, 0);      
  background-color: #f2efeb;
  border-radius: 40px;
  padding: 30px;
  bottom: -30px;

}

.avisos {
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
}

.quadroB {
  position: fixed;       /* fixa na tela */
  left: 0px;            /* dist창ncia da borda esquerda */
  bottom: 0px;          /* dist창ncia da borda inferior */
  width: 120px;
  height: 250px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #b59b35;
  border-radius: 10px;
  padding: 30px;
  z-index: 1000;         /* fica acima de outros elementos */
}



.quadroC {
  position: fixed;       /* fixa na tela */
  right: 0px;           /* dist창ncia da borda direita */
  bottom: 400px;          /* dist창ncia da borda inferior */
  width: 130px;
  height: 120px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #b59b35;
  border-radius: 12px;
  padding: 30px;
  z-index: 1000;         /* garante que fique acima de outros elementos */
}


.alert {
  color: red;
}