.h1 {
    color: #e9ca4f;
    position: relative;
    margin-left: 30px;
    margin-top: 120px;
    font-family: 'Times New Roman', Times, serif;
    
}

.barra {
  background-color: #e9ca4f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  z-index: 1000;
}

