.nomee, 
.password {
  border: 2px solid #8a8989 !important;
  border-radius: 20px;
  color: black;
  padding: 10px 15px;
  font-size: 20px;
  width: 100%;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
  transition: 0.2s ease;
  margin-bottom: 18px;
    background-color: #fffafa;

}

.nomee:focus,
.password:focus {
  outline: none;
  background-color: #fffafa;
  border-color: #8a8989;
}

.senha{ 
  color: black;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 5px;
}

.name{
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  margin-bottom: 5px;
}

.titulo {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  margin-bottom: 30px ;
  font-size: 30px;
}

.box {
  width: 400px;      
  height: 500px;     
  border: 2px solid rgb(0, 0, 0);      
  margin: 50px;       
  background-color: #f2efeb;
  position: absolute;
  left: 1150px;
  border-radius: 40px;
  box-shadow: 18px 18px  #e9ca4f;
  top: 150px;

  display: flex;
  flex-direction: column;   
  justify-content: flex-start; 
  padding: 30px;
}  

.barra {
  background-color: #e9ca4f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
}

.entrar {
  background-color: #808080;
  border: 2px solid #808080;
  border-radius: 12px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: 0.2s ease;
}

.entrar:hover {
  background-color: #cac6c6;
  border-color: black;
}

.remember{
  color: black;
  font-size: 15px;
  margin-bottom: 25px;
  cursor: pointer;
}

.h2 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  margin: 20px;
  position: relative;
  z-index: 10;      
  font-family: 'Times New Roman', Times, serif; 
  top: 150px;
  left: 400px;
}

.texto {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: 180px;
  left: 380px;
  font-size: 30px;
}

.text {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: 200px;
  left: 380px;
  font-size: 30px;
}

.outrapagina {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  position: relative;
  top: 280px;
  left: 320px;
  display: inline-block; 
  background-color: white;
  color: rgb(0, 0, 0); 
  padding: 15px 40px; 
  text-align: center; 
  border: none; 
  border-radius: 15px;
  cursor: pointer; 
  font-size: 20px;
  font-weight: bold;
}

.outrapagina:hover {
  background-color: #e9ca4f; 
}

.barra2 {
  background-color: #e9ca4f;
  position: fixed;
  top: 750px;
  left: 320px;
  right: 840px;
  height: 5px;
}

.logo3 {
  position: relative;  
  left: 25%;
  top: 100px
}

.googleButton {
  width: 100%;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.googleButton:hover {
  background-color: #e9ca4f;
}



.merda {
  background-color: #f2efeb;
}