.h1{
    color: #ffde59;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;

}

.h2{
    color: rgb(255, 255, 255);
    position: relative;
    top: 200px;
    left: 150px;
    font-family:  'Times New Roman', Times, serif;
}




.fontText {
  font-family: 'Times New Roman', Times, serif;
}

.barra {
  background-color: #e9ca4f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  z-index: 1000;
}
